@import "tailwindcss";

@media (max-width: 420px) {
  nav .nav-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .tech-stack {
    justify-content: space-around;
  }

  header,
  footer {
    @apply self-stretch;
  }
}

@media (min-width: 768px) {
  header,
  #root > div,
  footer {
    width: clamp(320px, 75%, 100%);
  }
}

@media (max-width: 320px) {
  .contacts li {
    min-width: 180px;
    @apply flex-1;
  }

  header nav {
    gap: 1px;
  }
}

@media (max-width: 543) {
  header nav a {
    width: 100%;
  }
}





:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

:root.dark {}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    @apply bg-white;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f3efef;
    @apply bg-zinc-800;
  }
}





body {
  margin: 0;
}

h1 {
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-2xl font-extrabold;
}

a {
  @apply text-blue-400;
  text-decoration: inherit;
}

a:hover {
  @apply text-blue-600;
}

hr {
  width: 100%;
  color: #d1d5dc;
  margin: .8rem;
}





header,
#root > div,
footer {
  padding: 1rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .8rem;
  padding-bottom: 0;
}

header h1 {
  @apply dark:text-shadow-stone-900;
  text-shadow: 1px 1px 2px d6d3d5;
  font-size: 1.5rem;
}

header div {
  @apply block sticky top-0 left-0;
}

#root,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer,
#root > div {
  align-items: stretch;
}





nav {
  font-weight: 500;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .2rem;
  margin: 0;
}

nav a {
  display: flex;
  font-size: .9rem;
  align-items: center;
  padding-inline: .3rem;
}

.nav-icon {
  width: .9rem;
}

.active-page {
  color: #193cb8;
  border-bottom: solid 2px #d4d4d8;
  @apply dark:text-blue-200;
  @apply dark:border-zinc-400;
}





.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
  margin: 1rem;
}

.tech {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: .125rem;
  border-radius: .25rem;
  padding: .25rem .375rem;
  @apply hover:text-shadow-stone-300;
  @apply hover:text-shadow-lg;
  @apply hover:bg-stone-200;
  @apply hover:dark:text-shadow-stone-700;
  @apply hover:dark:bg-zinc-500;
  will-change: transform;
  user-select: none;
}

.tech-icon {
  width: 2rem;
  height: 2rem;
}

.tech-icon,
.tech-name {
  display: inline-block;
}

.contacts {
  margin-top: 1.25rem;
}

.contacts ul {
  text-align: center;
  font-weight: 200;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.contacts li {
  @apply text-stone-600;
  @apply text-shadow-stone-300;
  @apply dark:text-shadow-stone-700;
  @apply hover:text-blue-400;
  @apply dark:text-white;
  @apply text-shadow-lg;
}

.contacts li,
.tech {
  transition: transform .3s ease-in-out;
  will-change: transform;
}

.contacts li:hover,
.tech:hover {
  transform: scale(1.15);
}

.contacts a {
  font-weight: 400;
  padding: .375rem;
  border-radius: .375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  min-width: 5rem;
}

/* .home {
  @apply flex flex-col gap-4;
} */

.featured-projects > div {
  @apply bg-gray-100 dark:bg-zinc-600;
  padding: .375rem;
  display: flex;
  justify-content: center;
  border-radius: .25rem;
}

.about > div {
  margin-bottom: 2rem;
}

.about .note {
  @apply text-gray-500 bg-gray-100;
  margin-block: 1rem;
  padding: .75rem;
  border-radius: .25rem;
}

.about p {
  margin-top: 1rem;
}

.about ul {
  @apply space-y-1;
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: .5rem;
}

.projects {
  @apply bg-gray-200 dark:dark:bg-zinc-600;
  text-align: center;
  border-radius: .25rem;
  padding-block: .75rem;
  font-size: 1.875rem;
}