@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  @apply text-blue-400;
  text-decoration: inherit;
}

a:hover {
  @apply text-blue-600;
}

body {
  margin: 0;
}

h1 {
  line-height: 1.1;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    @apply bg-white;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

hr {
  @apply w-full;
  @apply text-gray-300;
  @apply m-3.5;
}
