@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
}

:root.dark {
  --background: ;
  --primary-text-color: ;
}

body {
  margin: 0;
  @apply md:flex;
  @apply md:flex-col;
  @apply md:items-center
}

body > * {
  @apply md:w-2xl;
  @apply lg:w-4xl;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  @apply border-b-2 border-b-gray-200;
  @apply z-20;
}

.nav-item {
  @apply flex;
  @apply items-center;
  @apply px-1;
  @apply py-0;
  @apply font-bold;
  @apply text-sm;
  @apply hover:bg-blue-300;
  @apply rounded-md;
  transition: background-color .35s ease-in-out;
}

.nav-item.active {
  @apply bg-blue-200;
  @apply !text-blue-600
}

main,
footer {
  @apply px-2;
}

main > section {
  @apply my-12;
}

.tech-stack,
#contacts ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

main > section > div,
.tech-stack {
  @apply my-2.5;
}

.tech-icon {
  @apply w-8 h-8;
}

.contacts a {
  display: flex;
  align-items: center;
  @apply font-bold;
  gap: 0.2rem;
}

.contacts ul {
  list-style: none;
}

footer {
  @apply py-5;
}

h1 {
  @apply font-bold;
}

h2 {
  @apply text-2xl font-extrabold;
}

h3 {
  @apply text-xl font-extrabold;
}

a {
  @apply text-blue-400;
}

a:hover {
  @apply text-blue-600;
}

input,
textarea {
  @apply bg-gray-100;
  @apply m-2 p-1;
  @apply border-b-2 border-b-gray-500;
}




.note {
  @apply bg-gray-200;
  @apply px-3 py-2;
  @apply mx-2;
  @apply rounded-md;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  line-height-step: 2px;
  @apply mx-2;
}

.tech-stacks > div > div {
  @apply mt-0.5;
}


.projects {
  @apply pt-5;
}

/* 
header,
#root > div,
footer {
  padding: 1rem;
} */
/* 
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .8rem;
  padding-bottom: 0;
} */

/* header div {
  @apply block sticky top-0 left-0;
} */
/* 
#root,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer,
#root > div {
  align-items: stretch;
} */




/* 
nav {
  font-weight: 500;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .2rem;
  margin: 0;
} */
/* 
nav a {
  display: flex;
  font-size: .9rem;
  align-items: center;
  padding-inline: .3rem;
} */

/* 
.active-page {
  color: #193cb8;
  border-bottom: solid 2px #d4d4d8;
  @apply dark:text-blue-200;
  @apply dark:border-zinc-400;
} */



/* 

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
  margin: 1rem;
}
*/

.tech {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: .125rem;
  @apply rounded-sm;
  @apply px-1.5 py-1;
  user-select: none;
  will-change: transform;
  transition: background-color .35s ease-in-out;
  @apply hover:text-shadow-stone-400;
  @apply hover:text-shadow-lg;
  @apply hover:bg-stone-200;
  @apply hover:dark:text-shadow-stone-700;
  @apply hover:dark:bg-gray-200;
  @apply hover:scale-105;
}

.contacts li {
  transition: transform .35s ease-in-out;
}

.contacts li:hover {
  transform: scale(1.15);
}

/*
.tech-icon,
.tech-name {
  display: inline-block;
}

.contacts {
  margin-top: 1.25rem;
}

.contacts ul {
  text-align: center;
  font-weight: 200;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.contacts li {
  @apply text-stone-600;
  @apply text-shadow-stone-300;
  @apply dark:text-shadow-stone-700;
  @apply hover:text-blue-400;
  @apply dark:text-white;
  @apply text-shadow-lg;
}

.contacts li:hover,
.tech:hover {
  transform: scale(1.15);
}

.contacts a {
  font-weight: 400;
  padding: .375rem;
  border-radius: .375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .375rem;
  min-width: 5rem;
}

.home {
  @apply flex flex-col gap-4;
}

.featured-projects > div {
  @apply bg-gray-100 dark:bg-zinc-600;
  padding: .375rem;
  display: flex;
  justify-content: center;
  border-radius: .25rem;
}

.about > div {
  margin-bottom: 2rem;
}

.about .note {
  @apply text-gray-500 bg-gray-100;
  margin-block: 1rem;
  padding: .75rem;
  border-radius: .25rem;
}

.about p {
  margin-top: 1rem;
}

.about ul {
  @apply space-y-1;
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: .5rem;
}

.projects {
  @apply bg-gray-200 dark:dark:bg-zinc-600;
  text-align: center;
  border-radius: .25rem;
  padding-block: .75rem;
  font-size: 1.875rem;
} */